<div class="container-fluid specialist-page">
	<div class="row nav-bar"> <!-- top nav bar -->
	</div>
	<div class="col-sm-4 doctor-list">
		<ul class="js-dr-list">

		</ul>
	</div>
	<div id="map" class="col-sm-8 maps-api">
	</div>
	