This page will show google maps api and a list of doctors around the area

<p class="js-loading-text">Please wait for position...</p>

	<ul class="js-coords">
		<li class="js-lat">
		</li>
		<li class="js-long">
		</li>
	</ul>

<p class="js-position-error">Please allow us to access your location in the settings.</p>

<div class="container-fluid specialist-page">
	<div class="row nav-bar"> <!-- top nav bar -->
	</div>
	<div class="col-sm-4 doctor-list">
		Shows doctors on this column
	</div>
	<div class="col-sm-8 maps-api">
		google maps goes on this side
	</div>
</div>